html, body { width:100%; height:100%; }
* { margin:0; padding:0; } /* to remove the top and left whitespace */


@font-face {
  font-family: 'scrawl-thin';
  src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('myfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


body {
	spellcheck:"false";
	font-family: 'Scrawl', arial;
	text-align: center;	
	background:  #d49e7f
}


p {
        font-family: 'Scrawl', arial;
        font-size:24px;
        /*text-shadow: 4px 4px 4px #aaa;*/
}

textarea {
	spellcheck: "false";
	background:#c79b7b;
	border: 1px /*outset*/solid #57504b;
	color: #ffe3e3;
}

::selection {
	
	background:#ffe3e3;
	color: #c79b7b;
	border: 1px /*outset*/solid #57504b;
}

textarea:focus {
	spellcheck: "false";
	outline: none;
	background:#c79b7b;
	color: #ffe3e3;
	border: 2px /*outset*/solid #57504b;
}



.inputText {
	font-family: 'Kalam';
	resize: none;
	width: 800px;
	text-align: center;
	height: 100px;
}
.outputText {
	font-family: 'escrawl';
	font-size: 24px;
	resize: none;
	width: 800px;
	text-align: center;
	height: 100px;
}

.titleDiv {
	/*background-color:#99725f;*/
	background:-webkit-radial-gradient(center, #bd8055, #99725f)
}

.convertButtonDiv {
	
	background:-webkit-radial-gradient(center, #bd8055, #d49e7f, #d49e7f, #d49e7f)
	
	
}


.convertButton {
	width: 130px;
	/*font-family: escrawl;*/
	font-family:'Scrawl', arial;
	padding: 2px;
	/*width: 60px;*/
	
	/*background-color: #A0522D;*/
	background:-webkit-radial-gradient(center, #b86842, #A0522D, #A0522D);
	
	color:#d1c49b;
	padding: 4px;
	font-size: 24px;
	border-radius: 5px;
	border: 4px /*outset*/solid #57504b
}
.convertButton:focus {
	background-color: #A0522D;
	color:#e6d8aa;
	border-radius: 5px;
	border: 4px /*outset*/solid #524841
}
















.tooltip {
  position: sticky;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}