@import url(https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);












.AuthButton {
	background-color: #8db881;
	color:white;
	padding: 9px;
	font-size: 12px;
	border-radius: 10px;
	border: none;
}

/*Buttons fit together in groups*/
.inline {
  float: left;
  border: 1px solid black;
}




/* Dropdown Button */
.dropbtn {
  background-color: #8db881;
  color: white;
  padding: 18px;
  font-size: 18px;
  border-radius: 0px;
  min-width: 100%;
  border: none;}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	color: white;
  display: none;
  position: absolute;
  background-color: #379134;
  /*min-width: 160px;*/
  width: 100%;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;}
/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}