@font-face{
	font-family:edding;
	font-style:normal;
	font-weight:400;
	src:local('Edding'),
	local('Edding-Regular Edding'),
	url('edding.woff') 
	format('woff'),
	url('scrawl.otf') 
	format('opentype')}